<!-- https://medium.com/@tomastrajan/how-to-build-responsive-layouts-with-bootstrap-4-and-angular-6-cfbb108d797b -->
<div class="full-height section" [style]="css">
  <div class="container-fluid">

    <div class="row" >
      <div *ngFor="let block of section.blocks;" class="col">
        <app-block [block]="block"></app-block>
      </div>
      <!-- <div class="col-md-6">
        <img  *ngFor="let photo of section.photos" [src]="photo.url" [style]="photo.css">
      </div> -->
    </div>
  </div>
</div>